body {
    background:#777;
     color: #777;
     width: 960px;
    font: size 18px;
}

Header {
    background:#ebebeb;
    width:495px
}
Nav {
    background:#ebebeb;
    width:495px
}
Section {
    background:#ebebeb;
    width:495px
}
Aside {
    background:#ebebeb;
    width:495px
}
Footer {
    background:#ebebeb;
    width:495
}
Article {
    color:#ebebeb;
    background:#777;
    width:495px
}
h1 {
    color:#777;
    background:#ebebeb;
    width:495px
}
P{
    color:#777;
    background:#ebebeb;
    width:495px
}